.el-menu--collapse {
  .el-sub-menu .iconify, .el-menu-item .iconify {
    margin-right: 0;
  }
}

.el-menu--horizontal.el-menu {
  border-bottom: none!important;
}

html.dark {
  --el-menu-bg-color: #000
}